.DS_Store
appsettings.json
bin/
obj/

./.vscode/*
!./.vscode/settings.json
!./.vscode/tasks.json
!./.vscode/launch.json
!./.vscode/extensions.json
/.vs
/demos/04-azure-eventhub-listener/packages
/demos/04-azure-eventhub-listener/.vs/Receiver/v16
/~$04 Get notifications through Azure Event Hubs.pptx
/demos/04-azure-eventhub-listener/.vs/Receiver
